.casper_mod .site-nav-logo img {
    position: relative;
    top: 2px;
}
.casper_mod.post-template .kg-card-markdown > p:first-child {
    font-size: 1.75rem;
    font-style: italic;
}
@media (max-width: 414px) {
    .casper_mod.post-template .kg-card-markdown > p:first-child,
    .casper_mod.page-template .kg-card-markdown > p:first-child {
        padding: 1rem;
        font-style: italic;
        text-align: justify;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}
.casper_mod .post-full-content {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
.casper_mod .post-full-content p {
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}
.casper_mod .post-full-content ul,
.casper_mod .post-full-content ol {
    margin: .25em auto 0;
}
.casper_mod .post-full-content li {
    font-size: 1.75rem;
}
.casper_mod pre[class*=language-] {
    margin: 0 0 1em;
}
.casper_mod .post-full-content h1 {
    font-size: 2.6rem;
    padding-bottom: .4rem;
    border-bottom: #cccccc solid .1rem;
    text-transform: uppercase;
    margin: 1em 0;
}
.casper_mod .post-full-content h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
}
.casper_mod .post-full-content h3 {
    font-size: 2rem;
}
.casper_mod .post-full-content h4 {
    font-size: 1.75rem;
    margin-bottom: .5rem;
}
.casper_mod .post-full-content h5 {
    font-size: 1.65rem;
    font-style: italic;
}
.casper_mod .post-full-content blockquote {
    font-size: .5em;
    color: #005e99;
}
.casper_mod .post-full-content blockquote p {
    font-size: 1.25rem;
}
.casper_mod .post-full-image {
    height: 500px;
    margin-bottom: -100px;
}
.casper_mod .post-full-content hr {
    margin: 2.5vw 0;
}
.casper_mod .post-full-content img,
.casper_mod .post-full-content video {
    max-width: 845px;
}
.casper_mod .footnotes ol li,
.casper_mod .footnotes ol li p {
    font-size: 1.25rem;
}
.casper_mod .post-full-content pre code a.vglnk {
    color: white;
}
.casper_mod .post-full-content pre code a.vglnk:hover {
    color: #26a8ed;
}